<h4> Hi <%= @user.email %></h4>

<p>There is a upcoming Tv Show in next 3o minutes. On chamnnel <%= @show.channel.name%> Show <%= @show.name %> at <%= @show.telecast_time %></p>

<p>Thanks.</p>
<p> Enjoy Telecast :) </p>