<div class="container">
  <table id="all-shows-list" class="table table-striped table-bordered" style="width: 1000px;">
    <thead>
      <th>Channel</th>
      <th>TvShow</th>
      <th>Time</th>
      <th>Favourite</th>
    </thead>
    <tbody class="channel-list-tbody">
       <%= render partial: "shared/tvshow", collection: @tv_shows, as: :tvshow %>
    </tbody>
  </table>
</div>
